################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Icampus-Boat-Back/FileContentIndex
/.vs/Icampus-Boat-Back/CopilotIndices/17.14.1661.41761
/.vs/Icampus-Boat-Back/v17
/.vs
